article {
  background-color: ivory;
  border: 1px solid grey;
  border-radius: 3px;
  margin-top: 2rem;
  margin-left: %15;
  padding: 1rem;
  width: 20rem;
}

.redText {
  color: red;
}

#blueText {
  color: blue;
}
